*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Inter', sans-serif;
}

.button {
  font-family: 'Inter', sans-serif;
  padding: 0;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

.contatiner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.header {
  height: 80px;
}

.h1 {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  line-height: 60px;
  color: #181818;
}

/*голове начало*/
.h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Inter', sans-serif;
  color: #838383;
  max-height: 52px;
  text-overflow: ellipsis;
  overflow:hidden;
}

.header__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header__actions {
  display: flex;
  gap: 20px;
}

.header__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #838383;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

.header__button + .header__button {
  margin-left: 10px;
}
/*голове конец*/

/*основная часть*/
.main-row {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.main-row__button {
  display: flex;
  align-items: center;
  padding: 20px;
  /*background: #A6C81E;*/
  /*background-color: #FFFFFF;*/
  font-weight: 600;
  font-size: 16px;
  /*line-height: 20px;*/
  color: #A6C81E;
  border-radius: 10px;
  border-color: #A6C81E;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none
}

.main-row__button::before {
  content: url('h3.svg');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;

}

.h4 {
  font-size: 14px;
  line-height: 20px;
  color: #838383;
  font-family: 'Inter', sans-serif;
}

.h5 {
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #181818;
  font-family: 'Inter', sans-serif;
}

.main__button {
  margin-top: 40px;
  /*display: flex;*/
  align-items: center;
  /*padding: 20px;*/
  /*background: #A6C81E;*/
  font-weight: 600;
  font-size: 16px;
  color: #181818;
  background-color:#A6C81E;
  opacity: .2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 352px;
  height: 52px;
}

.footer {
  margin-top: 649px;
  width: 100%;
  height: 19px;
  margin-bottom: 40px;
}

.footer__container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 80px;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content:space-between;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #A6C81E;
  text-decoration: none;
}

.footer__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #838383;
}
